.btn{
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
}
.btn-small{
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    height: fit-content;
}


.btn-right {
    float: right;
    margin: 1rem;
}

.success {
    background-color: #FFC700;
}
.success:hover {
    background-color: #E4B201;
}

.danger {
    background-color: #dc3545;
}
.danger:hover {
    background-color: #c82333;
}


.button_overlay {
    padding: 4px;
    position: relative; /* Cambiado a relative */
    right: -135px; /* Ajusta la mitad del ancho del botón para que esté fuera por el lado derecho */
    width: 50px; /* Ajusta el ancho del botón */
    height: 50px; /* Ajusta la altura del botón */
    background-color: gray; /* Color de fondo del botón */
    border-radius: 50%; /* Forma redonda del botón */
    margin-left: auto; /* Empuja el botón hacia la derecha */
    /*top: 50%; /* Alinea el botón en el centro verticalmente */
    /*transform: translateY(-50%); /* Corrige la posición vertical del botón */
    z-index: 1; /* Coloca el botón por encima del contenido de la caja */
    border: black 5px solid;
}

.button_overlay:hover {
    background-color: red; /* Color de fondo del botón */
}

.btn-join{

    align-items: right;
}