.btn{
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
}

.btn-right {
    float: right;
    margin: 1rem;
}

.success {
    background-color: #FFC700;
}

.btn:hover {
    background-color: #E4B201;
}
