progress {
    width: 95%;
    height: 3rem;
}

label {
    padding-right: 10px;
    font-size: 1rem;
}

.caja_gris{
    margin:1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.7); 
    display: flex;
    color: black;
    font-weight: bold;
    font-style: italic;
}

.caja_blanca{
    margin:1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: white; 
    display: flex;

}

.caja_dinero{
    margin:1rem;
    width: 4rem;
    height: 4rem;
    padding: 5px;
    border-radius: 50px;
    border: 3px solid #E4B201;
    background-color: #FFC700;
}

.caja_equipment{
    display: flex;
    justify-content: space-evenly;
}
.caja_bagpack{
    display: flex;
    justify-content: space-evenly;
    
    flex-wrap: wrap;
}
.caja_vertical_center{
    display: flex;
    align-items: center;
}

.imagen-circular {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
}
.img-attack{
    border-radius: 10px;
    width: 72px;
    height: 72px;
    margin-left: 10px;
}

.caja_bagpack{
    justify-content: space-around;
    width: 400px;
}

.caja_statistics{
    width: 300px;
}

.caja_gris_joinable{
    
    flex-direction: column;
}

.caja_blanca_joinable{
    width: 800px;

}
.caja_blanca_finder{
    width: 45%;
    justify-content: center;
    display: flex;
}

.form_centrado_izquierdo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem;
}
.caja_createAttack{
    width: fit-content;
    
    margin: auto;
}

.titelPage{
    margin: auto;
    color: white;
    text-align: center;
}
table{
    width: 100%;
}

.caja_ranking{
    margin: auto;
    width: 50%;
    align-items: center;
    display: flex;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .caja_blanca_buy_attack{
    width: 800px;
    justify-content: space-between;

}

.bordered_table{
    border-collapse: collapse;
    border: 1px solid black;
}

.bordered_table th, td{
    border: 1px solid black;
    
}

.caja_gris_buy_responsive{
    margin:1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.7); 
    display: flex;
    color: black;
    font-weight: bold;
    font-style: italic;
}

@media screen and (max-width: 868px) {
    .caja_gris_buy_responsive {
      min-width: 400px; 
    }
  }

  .caja_gris_login_responsive{
    margin:1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.7); 
    display: flex;
    color: black;
    font-weight: bold;
    font-style: italic;
}

@media screen and (max-width: 868px) {
    .caja_gris_login_responsive {
      min-width: 115px; 
    }
  }