@import './base.css';
@import './menu.css';
@import './botones.css';
@import './cajas.css';


#app {
  /*max-width: 1280px;*/
  width: 100%;
  margin: 0 ;
  /*padding: 1rem;*/
  font-weight: normal;
}
