header{
  position: absolute;
}
#app{
    margin: 0;
    width: max-content;
    height: 100vh; /* Altura del 100% del viewport */
}

/* Estilos para el botón de hamburguesa */
.burger-menu {
    margin-left: 15px;
    font-size: xxx-large;
}

img {
  width: 100vh; /* La imagen se ajustará al ancho máximo permitido */
  height: 200px;
  object-fit: cover;
}

/* Estilos para el botón de cierre */
.close-button {
  border: none;
  background: none;
  color: #333;
  cursor: pointer;
  margin-bottom: 10px;
}

/* Estilos para el menú */
.menu {
  /*position: absolute;*/
  top: 0;
  left: 0;
  background-color: #fff;
  width: 200px;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  background-color: #FFC700;
}

.menu.open {
  transform: translateX(0);
}

.menu li {
  color: black;
  padding: 10px;
}
.menu li:hover {
  background-color: #E4B201;
}

.menu a {
  text-decoration: none;
  color: #333;
}


.menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu ul ul {
    margin-left: 20px; /* Indentación para las subopciones */
  }
  
  .menu .open {
    display: block; /* Mostrar el menú si está abierto */
  }
  
  .menu ul ul {
    display: none; /* Ocultar las subopciones por defecto */
  }
  
  .menu ul li:hover ul {
    
    display: block; /* Mostrar las subopciones al pasar el ratón sobre la opción principal */
  }
  .menu ul li ul li:hover{
    
    background-color: #b48e02;
  }
  
  li {
    width: 100%;
  }