/* BuyView.css */

.table-responsive {
    overflow-x: auto;
    display: block; /* Makes table behave like a block element on small screens */
    width: 100%; /* Ensures table fills available width */
  }
  
  .table-responsive tr {
    white-space: nowrap; /* Prevents text wrapping within table cells */
  }
  
  .table-responsive th,
  .table-responsive td {
    /* Adjust font size or use media queries for different sizes */
    font-size: 14px;
  }
  
  /* You can add additional media queries for different screen sizes here */
  @media (max-width: 768px) {
    
  }
  